@media only screen and (max-width: 600px) {
    .sakuratree1{
        display: none;
    }
    .sakuratree2{
        display: none;
    }
    .sakuratree3{
        display: none;
    }
    .sakuratree4{
        display: none;
    }
    .peanutcoffee{
        display: none;
    }
    .peanutsweet{
        display: none;
    }
    .peanutcoffee{
        display: none;
    }
    .peanutthinking{
        display: none;
    }
    .peanutmegamind{
        display: none;
    }
    .header{
        font-size: 5vh;
    }
  }